html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    background-color: #232323;
    color: #fff;
}

a {
    text-decoration: none;
}


/*---------- NAVIGATION -------------*/

.NavDesktop {
    display: none;
}

.NavMobil {
    position: relative;
}

.NavMobil ul {
    box-shadow: 0px 5px 15px #232323;
}

.NavMobil li {
    position: relative;
    margin-top: 0.5em;
}

.NavMobil li::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    background-color: #232323;
    width: 100%;
    height: 1px;
}

#menuToggle {
    display: block;
    position: fixed;
    top: 10px;
    right: 15px;
    z-index: 1;
}

#menuToggle a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: fixed;
    top: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #fff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s ease-in-out, opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #fff;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: fixed;
    width: 250px;
    top: -20px;
    right: -15px;
    margin: 0;
    padding: 50px 30px 20px 20px;
    background: #d29a4f;
    list-style-type: none;
    transform-origin: 0 0;
    transform: translate(420px);
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

#menuToggle input:checked~ul {
    transform: none;
}


/* -------------- */

main {
    padding-top: 5%;
}


/*--------- TITLE ----------*/

h1 {
    text-align: center;
    font-size: 3em;
}

h2 {
    text-align: center;
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-weight: 900;
}


/*------- SECTION ----------*/

#aPropos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #d29a4f;
    color: #000;
    margin-top: 120px;
}

.apropos {
    text-align: center;
    padding: 0 15px 0 15px;
    max-width: 600px;
}

.apropos p {
    font-size: 1.1em;
}

.Me {
    border-radius: 50%;
    width: 200px;
    margin-top: -100px;
}

#competences {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    margin: auto;
}

.hardskill {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
}

.Hard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #d29a4f;
    border-radius: 1rem;
    transition: all 0.4s ease-in-out;
    margin: 1em;
    min-width: 300px;
}

.Hard:hover {
    box-shadow: 0px 5px 15px #d29a4f;
    scale: 1.02;
}

.skills {
    width: 100%;
    max-width: 305px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
}

.skills p {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}

.skills img {
    margin-bottom: 5px;
    width: 50px;
}

.Soft {
    text-align: center;
    font-size: 1.15em;
}

.Soft p {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Soft img {
    width: 30px;
}


/*---------- PROJETS -----------*/

#realisations {
    max-width: 1200px;
    margin: auto;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
}

article {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    height: 100%;
    max-width: 400px;
}

.projet {
    width: 80%;
    background-color: #EFDBC1;
    color: #000;
    border-radius: .3rem;
    max-width: 400px;
}

.projet h3 {
    text-align: center;
}

.projet img {
    width: 100%;
}

.link {
    text-align: right;
    margin: 1.5em 1em;
}

.link a {
    border: 1px solid #000;
    color: #000;
    padding: .5em 1.5em;
    transition: all 0.3s ease-in-out;
}

.link a:hover {
    border: 1px solid #EFDBC1;
    color: #EFDBC1;
    background-color: #232323;
    padding: .5em 1.5em;
}

.projet .video a {
    border: 1px solid #D29A4F;
    color: #D29A4F;
    background: #232323;
    padding: .5em 1.5em;
    transition: all 0.3s ease-in-out;
}

.projet .video a:hover {
    border: 1px solid #232323;
    color: #232323;
    background: #D29A4F;
}


/* collapse text */

.accordeon {
    margin-top: 1em;
}

.accordeon>input {
    position: absolute;
}

.accordeon .content {
    overflow-y: hidden;
    height: 0;
    transition: transform 0.5s ease-in-out;
}

.accordeon>input:checked~.content {
    height: auto;
    transform: translateY();
    overflow: visible;
}

.accordeon label {
    display: block;
    position: relative;
}

.accordeon {
    margin-bottom: 1em;
}

.accordeon>input:checked~.content {
    padding: 0px 15px 0px 15px;
    border-top: 0;
}

.accordeon label {
    color: #333;
    cursor: pointer;
    font-weight: normal;
    padding: 15px;
    background: #D29A4F;
    display: flex;
    justify-content: space-between;
}

.accordeon label:hover,
.accordeon label:focus {
    background: #D8A86A;
}

.accordeon label img {
    width: 15px;
}

.Moins {
    display: none;
}

.accordeon>input:checked~label>.Plus {
    display: none;
}

.accordeon>input:checked~label>.Moins {
    display: block;
}


/* collapsible */


/*---------- IMAGES ------------*/

.Icon {
    display: none;
}


/*---------- FOOTER ------------*/

footer {
    margin-top: 3em;
    padding-top: 0.5em;
    background-color: #d29a4f;
    color: #000;
}

.contactList {
    display: flex;
    flex-flow: column nowrap;
    margin: auto;
    max-width: 300px;
}

.contactList a {
    text-decoration: none;
    color: #000;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 1em;
}

.contactList img {
    margin-right: 1em;
    width: 50px;
}

.contactList a:first-child img {
    width: 70px;
}

footer p {
    margin: 0;
    padding: 1.5em 0;
    text-align: center;
    font-size: 0.8em;
}

@media screen and (min-width: 1080px) {
    html {
        scroll-padding-top: 3.3rem;
    }
    .NavMobil {
        display: none;
    }
    .NavDesktop {
        display: block;
        background-color: #d29a4f;
        height: 50px;
        position: fixed;
        width: 100vw;
        box-shadow: 0px 5px 15px #232323;
        z-index: 5;
    }
    .NavDesktop ul {
        display: flex;
        justify-content: space-evenly;
        margin: 0;
        padding: 15px;
    }
    .NavDesktop ul>li {
        list-style-type: none;
        font-size: 1.1em;
        font-weight: 700;
    }
    .NavDesktop a {
        color: #232323;
        transition: all 0.3s ease-in-out;
    }
    .NavDesktop a:hover {
        color: #fff;
    }
    .contactList {
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 100%;
    }
}