@font-face {
    font-family: "Lato-Regular";
    src: url("/font/Lato/Lato-Regular.ttf");
}

body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Lato-Regular";
}

a {
    text-decoration: none;
}


/*---------- NAVIGATION -------------*/

nav {
    position: relative;
}

#menuToggle {
    display: block;
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 1;
}

#menuToggle a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -10px;
    left: -7px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #000;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s ease-in-out, opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    width: 250px;
    top: -20px;
    right: -15px;
    margin: 0;
    padding: 50px 30px 30px 50px;
    background: #ededed;
    list-style-type: none;
    transform-origin: 0 0;
    transform: translate(420px);
    transition: transform 0.5s ease-in-out;
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

#menuToggle input:checked~ul {
    transform: none;
}


/* -------------- */

main {
    padding-top: 50px;
}

h1 {
    display: flex;
    justify-content: center;
}

#quiSuiJe {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #2f58fe;
    color: #ededed;
}

#quiSuiJe p {
    text-align: center;
    padding: 0 15px 0 15px;
}

#competences {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Hard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #9e9d9d;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    width: 300px;
    margin: 10px;
}

.Hard:hover {
    box-shadow: 0px 8px 8px #9e9d9d;
}

.skills {
    display: flex;
    justify-content: space-between;
}

.contactList {
    display: flex;
    flex-direction: column;
    align-items: center;
}