@font-face {
    font-family: "Lato-Regular";
    src: url("../font/Lato/Lato-Regular.ttf");
}

body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato-Regular", sans-serif;
    background-color: #232323;
    color: #fff;
}

a {
    text-decoration: none;
}


/*---------- NAVIGATION -------------*/

nav {
    position: relative;
}

#menuToggle {
    display: block;
    position: fixed;
    top: 10px;
    right: 15px;
    z-index: 1;
}

#menuToggle a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: fixed;
    top: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #fff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s ease-in-out, opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #fff;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: fixed;
    width: 250px;
    top: -20px;
    right: -15px;
    margin: 0;
    padding: 50px 30px 30px 50px;
    background: #d29a4f;
    list-style-type: none;
    transform-origin: 0 0;
    transform: translate(420px);
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

#menuToggle input:checked~ul {
    transform: none;
}


/* -------------- */

main {
    padding-top: 10%;
}


/*--------- TITLE ----------*/

h1 {
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*------- SECTION ----------*/

#quiSuiJe {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #d29a4f;
    color: #000;
}

.apropos {
    text-align: center;
    padding: 0 15px 0 15px;
    max-width: 600px;
}

#competences {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    margin: auto;
}

.hardskill {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
}

.Hard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #9e9d9d;
    border-radius: 1rem;
    transition: all 0.5s ease-in-out;
    margin: 1em;
    min-width: 300px;
}

.Hard:hover {
    box-shadow: 0px 8px 8px #9e9d9d;
}

.skills {
    display: flex;
    justify-content: space-between;
}

.Soft {
    text-align: center;
}


/*---------- PROJETS -----------*/

#realisations {
    max-width: 1200px;
    margin: auto;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
}

article {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    height: 100%;
    max-width: 400px;
}

.projet {
    width: 80%;
    background-color: antiquewhite;
    color: #000;
    border-radius: .3rem;
    max-width: 400px;
}

.projet h3 {
    text-align: center;
}

.projet img {
    width: 100%;
}

.projet p {
    padding: 0 .5em 0 .5em;
}


/* collapsible */

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
}

.active,
.collapsible:hover {
    background-color: #ccc;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}


/* collapsible */

.link {
    text-align: right;
    margin: 1.5em 1em;
}

.link a {
    border: 1px solid #000;
    color: #000;
    padding: .5em 1.5em;
}


/*---------- IMAGES ------------*/

.Icon {
    display: none;
}


/*---------- CONTACT -----------*/

.contactList {
    display: flex;
    flex-flow: column nowrap;
    margin: auto;
    max-width: 300px;
}

.contactList a {
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 1em;
}

.contactList img {
    margin-right: 1em;
}


/*---------- FOOTER ------------*/

footer {
    margin-top: 3em;
    padding-top: 0.5em;
    background-color: #d29a4f;
}